/***** BASE STYLES *****/
body {
    font-family: 'Montserrat', sans-serif;
    }

/*****GRID*****/
.container {
    width: 1200px;
    margin: 0 auto;
}
p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}
/*****HEADER*****/

header{
    height: 110px;
    margin: 0 auto;
}

header nav{
    float: right;
    padding: 46px 0;
}

header nav ul li {
    display:inline;
    margin: 0px;
    padding: 0px;
    font-size:14px;
    font-weight:700;
    
}
li a {
    text-decoration:none;
    color: lightgreen;
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}

header span{
    color: lightgreen;
}
/*****TOP SECTION*****/

.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image{
    float:left;
    margin:0;
    height:450px;
    width: 100%;
}
.about{
   height:200px;
   float:left;
}
h3{
    color:lightgreen;
    font-size:25px;
    font-weight:700;
    text-transform:uppercase;
}
p{
    font-size:15px;
    font-weight: bold;
}
/*****BOTTOM SECTION*****/

.bottom-section{
    clear:both;
    width:1200px;
    border-top:1px solid grey;
    float:left;
    height: 100%;
}
.menu h4{
    padding-left:0px;
}
.menu li{
    color:lightgreen;
    list-style: none;
    text-align: left;
    padding: 0;
}
.menu{
    width: 390px;
    float: left;
}

.reviews{
    width: 390px;
    float: left;
    border-left:1px solid grey;
    border-right:1px solid grey;
    padding-left:7px;
}

.contact{
    width: 390px;
    float: left;
    padding:6px;
}

/*****FOOTER*****/
footer h4{
    text-align:center;
    clear:both;
    height: 50px;
    font-size: 14px;
    padding: 50px;
    border-top: 3px solid grey;
    margin: 0 auto;
}

footer span{
    color:green;
    font-style: italic;
}
